* __INSTRUCTIONS:__


    * Add your code as indicated in each cell.


    * Besides adding your code, do not alter this file.


    * Do not delete or change test cases. Once you are done with a question, you can run the test cases to see if you programmed the question correctly.


    * If you get a question wrong, do not give up. Keep trying until you pass the test cases.


    * Rename the file as firstname_lastname_assignmentid.ipynb (e.g., marina_johnson_assignment1.ipynb)


    * Only submit .ipynb files (no .py files)

In [1]:
# Do not delete this cell
import numpy as np
score = dict()
np.random.seed(333)

###################################################################################################################

# Question 1

1. Read the employee_attrition dataset and save it as df. Recall that the target variable in this dataset is named __'Attrition.'__


2. Check if the dataset is imbalanced by counting the number of Noes and Yeses in the target variable __Attrition.__

    * __Hints:__
        * Imbalanced data refers to a situation where the number of observations is not the same for all the classes in a dataset. For example, the number of churned employees is 4000, while the number of unchurned employees is 40000. This means this dataset is imbalanced. 
        
        * You need to access the target variable __Attrition__ and count how many Yes and No there is in this variable. If the number of Yes's is equal to the number of No's, then the dataset is balanced. Otherwise, it is not balanced. 
        
        * Check __Module 5g: Encoding Categorical Variables__ to earn more about data imbalance problems. Particularly, check 2.5: Balancing datasets in Module 5.

In [2]:
import pandas as pd

df = pd.read_csv ('employee_attrition.csv') # read data set

In [3]:
df.loc[df['Attrition'] == "Yes", 'Attrition'] = 1 # assigns 1 to attrition
df.loc[df['Attrition'] == "No", 'Attrition'] = 0 # assigns 0 to not-attrition

In [4]:
number_of_yes = len(df.loc[df['Attrition'] == 1,['Attrition']]) # your code to find the number 
                                # of yeses in the Attrition variable goes in here
    
number_of_no = len(df.loc[df['Attrition'] == 0,['Attrition']])# your code to find the number 
                                # of noes in the Attrition variable goes in here

## Do not alter the below cell. It is a test case for Question 1

In [5]:
try:
    if (number_of_yes == 237 and number_of_no == 1233):
        score['question 1'] = 'pass'
    else: 
        score['question 1'] = 'fail'
except:
    score['question 1'] = 'fail'
score

{'question 1': 'pass'}

###################################################################################################################

# Question 2
1. Identify the names of the __numerical input variables__ and save it as a __LIST__


2. Identify the names of the __categorical input variables+__ and save it as a __LIST__

    * __Hints__:
        * Remember __Attrition__ is the __target (output)__ variable, so exclude __Attrition__ from both LISTS containing the numerical and categorical __input__ variables.
        * Check __Modules 5b: Dropping Variables__ and __Module 3e: Helpful Functions (check after minute 4)__

In [6]:
numerical_variables = list(set(df.columns) - set(df.dtypes[df.dtypes == object].index))
categorical_variables = list(set(df.dtypes[df.dtypes == object].index) - set(['Attrition']))

In [7]:
sorted(numerical_variables)

['Age',
 'DailyRate',
 'DistanceFromHome',
 'Education',
 'EmployeeCount',
 'EmployeeNumber',
 'EnvironmentSatisfaction',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobSatisfaction',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']

## Do not alter the below cell. It is a test case for Question 2

In [8]:
try:
    if ((sorted(numerical_variables) == ['Age','DailyRate','DistanceFromHome','Education',
                                        'EmployeeCount','EmployeeNumber','EnvironmentSatisfaction',
                                        'HourlyRate','JobInvolvement','JobLevel','JobSatisfaction',
                                        'MonthlyIncome','MonthlyRate','NumCompaniesWorked','PercentSalaryHike',
                                        'PerformanceRating','RelationshipSatisfaction','StandardHours',
                                        'StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear',
                                        'WorkLifeBalance','YearsAtCompany','YearsInCurrentRole',
                                        'YearsSinceLastPromotion','YearsWithCurrManager']) and 
    (sorted(categorical_variables) == ['BusinessTravel','Department','EducationField','Gender',
                                          'JobRole','MaritalStatus','Over18','OverTime'])):
        
        score['question 2'] = 'pass'
    else: 
        score['question 2'] = 'fail'
except Exception:
    score['question 2'] = 'fail'
score

{'question 1': 'pass', 'question 2': 'pass'}

###################################################################################################################

# Question 3
1. Identify the numerical variables with zero variance (i.e., zero standard deviation) and save them in a LIST


2. Drop these numerical variables with zero variance (i.e., zero standard deviation) from the dataset df. The dataset df should not have these variables going forward. 

    * __Hints:__
        * For each numerical variable, compute the standard deviation. If the standard deviation is zero, delete (i.e., drop) that variable from the dataset df. 
        * Check __Modules 5b: Dropping Variables__

In [9]:
zero_variance_numerical_variables=[]
for i in numerical_variables:
    if df[i].std(axis=0, skipna = True)== 0.0:
        zero_variance_numerical_variables.append(i)

In [10]:
zero_variance_numerical_variables.sort()

In [11]:
df = df.drop(zero_variance_numerical_variables, axis = 1)

## Do not alter the below cell. It is a test case for Question 3

In [12]:
try:
    if (zero_variance_numerical_variables == ['EmployeeCount', 'StandardHours']):
        score['question 3'] = 'pass'
    else: 
        score['question 3'] = 'fail'
except:
    score['question 3'] = 'fail'
score

{'question 1': 'pass', 'question 2': 'pass', 'question 3': 'pass'}

###################################################################################################################

# Question 4
1. Identify the categorical variables with zero variance (i.e., low cardinality) and save them in a LIST


2. Drop these categorical variables with zero variance (i.e., low cardinality) from the dataset df. The dataset df should not have these variables going forward. 

    * __Hints:__
        * For each categorical variable, find the number of levels. If the number of levels is 1, delete (i.e., drop) that variable from the dataset df. For example, if a variable named occupation has only "Engineers" across all the rows (i.e., one level), the variable does not contain any information. In other words, zero variation. 
        
        * Check __Modules 5b: Dropping Variables__

In [13]:
categorical_variables

['EducationField',
 'Over18',
 'OverTime',
 'MaritalStatus',
 'BusinessTravel',
 'Gender',
 'Department',
 'JobRole']

In [14]:
zero_variance_categorical_variables = [] 

for i in categorical_variables: # for each categorical variables
    if len(df[i].value_counts().index) == 1: # check how many levels it has and if it is one
        zero_variance_categorical_variables.append(i) # the variable has zero variance as the cardinality is one

In [15]:
df = df.drop(zero_variance_categorical_variables, axis = 1) # drops variables with 0 variance

## Do not alter the below cell. It is a test case for Question 4

In [16]:
try:
    if (zero_variance_categorical_variables == ['Over18']):
        score['question 4'] = 'pass'
    else: 
        score['question 4'] = 'fail'
except:
    score['question 4'] = 'fail'
score

{'question 1': 'pass',
 'question 2': 'pass',
 'question 3': 'pass',
 'question 4': 'pass'}

###################################################################################################################

# Question 5
1. Find the categorical variables with very high variance (i.e., very high cardinality) and save them in a LIST. Use 200 as the threshold. In other words, the categorical variables over 200 levels should be considered as variables with high cardinality (i.e., with high variance). 


2. Drop the categorical variables with very high variance (i.e., very high cardinality) from the dataset df. The dataset df should not have these variables going forward. 

    * __Hints:__
        * For each categorical variable, find the number of levels. If the number of levels is greater than 200, delete (i.e., drop) that variable from the dataset df. For example, 
        * Check __Modules 5b: Dropping Variables__

In [17]:
categorical_variables = list(set(df.dtypes[df.dtypes == object].index) - set(['Attrition']))
categorical_variables

['EducationField',
 'OverTime',
 'MaritalStatus',
 'BusinessTravel',
 'Gender',
 'Department',
 'JobRole']

In [18]:
high_cardinality_categorical_variables= [] 

for i in categorical_variables: 
    if len(df[i].value_counts().index) > 200: 
        high_cardinality_categorical_variables.append(i) 

print(high_cardinality_categorical_variables)

[]

In [19]:
df = df.drop(high_cardinality_categorical_variables, axis = 1)

## Do not alter the below cell. It is a test case for Question 5

In [20]:
try:
    if (high_cardinality_categorical_variables == []):
        score['question 5'] = 'pass'
    else: 
        score['question 5'] = 'fail'
except:
    score['question 5'] = 'fail'
score

{'question 1': 'pass',
 'question 2': 'pass',
 'question 3': 'pass',
 'question 4': 'pass',
 'question 5': 'pass'}

###################################################################################################################

# Question 6

1. Scale (i.e., standardize) the numerical variables in the dataset using the standardization method and drop the original numerical variables and only keep the standardized ones. 

2. The new standardized numerical variables should have the same variable names. For example, the age variable after being standardized should be named the same (i.e., age)

    * __Hints__:
        * Feature standardization makes the values of each feature in the data have zero-mean (when subtracting the mean in the numerator) and unit-variance. This method is widely used for normalization in many machine learning algorithms.
        * Check __M5d: Standardization__

In [21]:
# Imports the StandardScaler module from sklearn
from sklearn.preprocessing import StandardScaler 

# Reads the dataset
df_new = pd.read_csv('employee_attrition.csv')

# Extracts the numerical values
numerical_val = list(df.select_dtypes(exclude = object).columns)

# Creates a column names for standardized values
new_col = [i for i in numerical_val] 

# Converts the df[numerical_val] to numpy array
array = df_new[numerical_val].values 

# Creates standarization instance
data_scaler = StandardScaler().fit(array) 

# Standardize the numerical variables
df_new[new_col] = pd.DataFrame(data_scaler.transform(array))

df = df_new

# Extracts the first five records
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0.446350,Yes,Travel_Rarely,0.742527,Sales,-1.010909,-0.891688,Life Sciences,1,-1.701283,...,-1.584178,80,-0.932014,-0.421642,-2.171982,-2.493820,-0.164613,-0.063296,-0.679146,0.245834
1,1.322365,No,Travel_Frequently,-1.297775,Research & Development,-0.147150,-1.868426,Life Sciences,1,-1.699621,...,1.191438,80,0.241988,-0.164511,0.155707,0.338096,0.488508,0.764998,-0.368715,0.806541
2,0.008343,Yes,Travel_Rarely,1.414363,Research & Development,-0.887515,-0.891688,Other,1,-1.696298,...,-0.658973,80,-0.932014,-0.550208,0.155707,0.338096,-1.144294,-1.167687,-0.679146,-1.155935
3,-0.429664,No,Travel_Frequently,1.461466,Research & Development,-0.764121,1.061787,Life Sciences,1,-1.694636,...,0.266233,80,-0.932014,-0.421642,0.155707,0.338096,0.161947,0.764998,0.252146,-1.155935
4,-1.086676,No,Travel_Rarely,-0.524295,Research & Development,-0.887515,-1.868426,Medical,1,-1.691313,...,1.191438,80,0.241988,-0.678774,0.155707,0.338096,-0.817734,-0.615492,-0.058285,-0.595227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,-0.101159,No,Travel_Frequently,0.202082,Research & Development,1.703764,-0.891688,Medical,1,1.721670,...,0.266233,80,0.241988,0.735447,0.155707,0.338096,-0.327893,-0.615492,-0.679146,-0.314873
1466,0.227347,No,Travel_Rarely,-0.469754,Research & Development,-0.393938,-1.868426,Medical,1,1.723332,...,-1.584178,80,0.241988,-0.293077,1.707500,0.338096,-0.001333,0.764998,-0.368715,0.806541
1467,-1.086676,No,Travel_Rarely,-1.605183,Research & Development,-0.640727,0.085049,Life Sciences,1,1.726655,...,-0.658973,80,0.241988,-0.678774,-2.171982,0.338096,-0.164613,-0.615492,-0.679146,-0.314873
1468,1.322365,No,Travel_Frequently,0.546677,Sales,-0.887515,0.085049,Medical,1,1.728317,...,1.191438,80,-0.932014,0.735447,0.155707,-1.077862,0.325228,0.488900,-0.679146,1.086895
1469,-0.320163,No,Travel_Rarely,-0.432568,Research & Development,-0.147150,0.085049,Medical,1,1.733302,...,-1.584178,80,-0.932014,-0.678774,0.155707,1.754054,-0.491174,-0.339394,-0.368715,-0.595227

In [22]:
df['Age'].std()

1.000340309691664

In [23]:
df['DailyRate'].std()

1.0003403096916612

## Do not alter the below cell. It is a test case for Question 6

In [24]:
try:
    if ((df['Age'].max() == 2.526885578888087) and (df['DailyRate'].max() == 1.7267301192801021)):
        score['question 6'] = 'pass'
    else: 
        score['question 6'] = 'fail'
except:
    score['question 6'] = 'fail'
score

{'question 1': 'pass',
 'question 2': 'pass',
 'question 3': 'pass',
 'question 4': 'pass',
 'question 5': 'pass',
 'question 6': 'pass'}

###################################################################################################################

# Question 7
1. Encode the categorical input variables. Do not encode the target variable __Attrition.__ You will do that in the following question.

    * __Hints:__
        * You will create dummies for categorical variables. 
        * Example: Let's say you have a variable named occupation. This variable has three levels: Engineer, Teacher, Manager. We will use binary encoding and create dummies for each of these levels to be able to encode the occupation variable. 
        * Technically, we are converting the categorical variable into new numerical variables.
        * We will have two new variables for this occupation variable, such as occupation_teacher, occupation_manager. We do not need occupation_teacher because we can infer if the person is a teacher by checking occupation_manager and occupation_engineer variables. 
        * For example: If occupation_enginner and occupation_manager are zero, then this person is a teacher. 
        * If occupation_engineer is 1, this person is an engineer.
        * Check __Module 5g: Encoding Categorical Variables__

In [25]:
categorical_variables = list(set(df.dtypes[df.dtypes == object].index) - set(['Attrition']))

categorical_variables

['EducationField',
 'Over18',
 'OverTime',
 'MaritalStatus',
 'BusinessTravel',
 'Gender',
 'Department',
 'JobRole']

In [26]:
# Create dummy variables using onehot encoding
dummy_df = pd.get_dummies(df[categorical_variables], drop_first=True)
dummy_df

,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,OverTime_Yes,MaritalStatus_Married,MaritalStatus_Single,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,...,Department_Research & Development,Department_Sales,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative
0,1,0,0,0,0,1,0,1,0,1,...,0,1,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,1,0,1,0,1,...,1,0,0,1,0,0,0,0,0,0
3,1,0,0,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,0,1,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0,0,1,0,0,0,1,0,1,0,...,1,0,0,1,0,0,0,0,0,0
1466,0,0,1,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
1467,1,0,0,0,0,1,1,0,0,1,...,1,0,0,0,0,1,0,0,0,0
1468,0,0,1,0,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
1469,0,0,1,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,0,0

In [27]:
# Drops categorical variables from the df
df = df.drop(categorical_variables, axis = 1) 

# Adds the newly created dummy variables instead
df = pd.concat([df, dummy_df], axis = 1)

In [28]:
df.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,Department_Research & Development,Department_Sales,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative
0,0.446350,Yes,0.742527,-1.010909,-0.891688,1,-1.701283,-0.660531,1.383138,0.379672,...,0,1,0,0,0,0,0,0,1,0
1,1.322365,No,-1.297775,-0.147150,-1.868426,1,-1.699621,0.254625,-0.240677,-1.026167,...,1,0,0,0,0,0,0,1,0,0
2,0.008343,Yes,1.414363,-0.887515,-0.891688,1,-1.696298,1.169781,1.284725,-1.026167,...,1,0,0,1,0,0,0,0,0,0
3,-0.429664,No,1.461466,-0.764121,1.061787,1,-1.694636,1.169781,-0.486709,0.379672,...,1,0,0,0,0,0,0,1,0,0
4,-1.086676,No,-0.524295,-0.887515,-1.868426,1,-1.691313,-1.575686,-1.274014,0.379672,...,1,0,0,1,0,0,0,0,0,0

## Do not alter the below cell. It is a test case for Question 7

In [29]:
try:
    if ((df['JobRole_Laboratory Technician'].mean() == 0.1761904761904762) and 
        (df['EducationField_Marketing'].mean() == 0.10816326530612246)):
        score['question 7'] = 'pass'
    else: 
        score['question 7'] = 'fail'
except:
    score['question 7'] = 'fail'
score

{'question 1': 'pass',
 'question 2': 'pass',
 'question 3': 'pass',
 'question 4': 'pass',
 'question 5': 'pass',
 'question 6': 'pass',
 'question 7': 'pass'}

###################################################################################################################

# Question 8
1. Encode the categorical output variable: Attrition. Yes should be coded as 1, and No should be coded as 0. The new encoded target variable should be named as Attrition. Do not forget to drop the categorical Attirion Variable. Basically, you will convert the categorical Attrition variable into numerical attrition variable such that Yes will be mapped to 1, and No will be mapped to zero. 

    * __Hints__:
        * Check Module 3 and Module 5 videos.

In [30]:
# Create dummy variables using onehot encoding

dummy_att = pd.get_dummies(df, columns=['Attrition'], prefix=None, prefix_sep='.', drop_first=True)

In [31]:
df = df.drop(['Attrition'], axis = 1)
df = pd.concat([df, dummy_att], axis = 1)

In [32]:
df.rename(columns = {'Attrition.Yes':'Attrition'}, inplace = True)

In [33]:
df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,Department_Sales,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,Attrition
0,0.446350,0.742527,-1.010909,-0.891688,1,-1.701283,-0.660531,1.383138,0.379672,-0.057788,...,1,0,0,0,0,0,0,1,0,1
1,1.322365,-1.297775,-0.147150,-1.868426,1,-1.699621,0.254625,-0.240677,-1.026167,-0.057788,...,0,0,0,0,0,0,1,0,0,0
2,0.008343,1.414363,-0.887515,-0.891688,1,-1.696298,1.169781,1.284725,-1.026167,-0.961486,...,0,0,1,0,0,0,0,0,0,1
3,-0.429664,1.461466,-0.764121,1.061787,1,-1.694636,1.169781,-0.486709,0.379672,-0.961486,...,0,0,0,0,0,0,1,0,0,0
4,-1.086676,-0.524295,-0.887515,-1.868426,1,-1.691313,-1.575686,-1.274014,0.379672,-0.961486,...,0,0,1,0,0,0,0,0,0,0

## Do not alter the below cell. It is a test case for Question 8

In [34]:
try:
    if (df['Attrition'].mean() == 0.16122448979591836):
        score['question 8'] = 'pass'
    else: 
        score['question 8'] = 'fail'
except:
    score['question 8'] = 'fail'
score

{'question 1': 'pass',
 'question 2': 'pass',
 'question 3': 'pass',
 'question 4': 'pass',
 'question 5': 'pass',
 'question 6': 'pass',
 'question 7': 'pass',
 'question 8': 'pass'}

###################################################################################################################

# Question 9

1. Balance the dataset


2. Your code should return the input and output variables __seperately__. The input variables will be saved as a dataframe named X. The output variable will be saved as a dataframe named y. 

    * __Hints:__
        * Imbalanced data refers to a situation where the number of observations is not the same for all the classes in a dataset. For example, the number of churned employees is 4000, while the number of unchurned employees is 40000. This means this dataset is imbalanced. 
        * You need to access the target variable __Attrition__ and increase the number of ones (i.e., Yeses) so that both the number of zeros (i.e., Noes) and the number of ones (i.e., Yeses) will be equal. 
        * Check __M5g: Encoding Categorical Variables.__ balancing dataset is discussed in this video.

In [35]:
from imblearn.over_sampling import SMOTE

os = SMOTE(random_state=0) 

input_var = list(set(df.columns) - set(['Attrition'])) # sets the input var

In [36]:
input_df = df[input_var]
input_df=input_df.T.drop_duplicates().T

In [37]:
X, y = os.fit_resample(input_df, df['Attrition']) # oversamples the data
X = pd.DataFrame(X, columns = input_var) # makes the X array as a dataframe
y = pd.DataFrame(y, columns = ['Attrition']) # makes the Y array as a dataframe

df = pd.concat([X, y], axis=1) # Combine X and Y

In [38]:
df['Attrition'].value_counts()

1    1233
0    1233
Name: Attrition, dtype: int64

## Do not alter the below cell. It is a test case for Question 9

In [39]:
try:
    if ((y.Attrition.value_counts()[0] == 1233) and (y.Attrition.value_counts()[1] == 1233)):
        score['question 9'] = 'pass'
    else: 
        score['question 9'] = 'fail'
except:
    score['question 9'] = 'fail'
score

{'question 1': 'pass',
 'question 2': 'pass',
 'question 3': 'pass',
 'question 4': 'pass',
 'question 5': 'pass',
 'question 6': 'pass',
 'question 7': 'pass',
 'question 8': 'pass',
 'question 9': 'pass'}

###################################################################################################################

# Question 10

* __Split the dataset into training and testing__ Basically using X and y dataframes, you will create X_train, X_test, y_train, and y_test. 
    * You need to keep 70% of the dataset for training and 30% for testing.
    
    * __Hints__:
        * You can use the train_test_split function in sklearn library
        * Check Module __M6c: Classification__

In [40]:
input_var  = set(df.columns) - set(['Attrition'])
X = df[input_var]
Y = df['Attrition']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.30) # set the dataset for testing

In [41]:
X_train.shape[0]

1726

## Do not alter the below cell. It is a test case for Question 6

In [42]:
try:
    if ((X_train.shape[0]<1750) and (X_train.shape[0]>1700)):
        score['question 10'] = 'pass'
    else: 
        score['question 10'] = 'fail'
except:
    score['question 10'] = 'fail'
score

{'question 1': 'pass',
 'question 2': 'pass',
 'question 3': 'pass',
 'question 4': 'pass',
 'question 5': 'pass',
 'question 6': 'pass',
 'question 7': 'pass',
 'question 8': 'pass',
 'question 9': 'pass',
 'question 10': 'pass'}

###################################################################################################################

# Question 11

1. Train a knn model where k is 3 using the training dataset.


2. Make predictions using the test dataset


3. Compute accuracy and save as accuracy

    * __Hints:__
        * You need to use the KNeighborsClassifier function. Instantiate a knn object and pass the number of neighbors to the function. Train the model using the X_train and y_train. Then make predictions using X_test. Then compute the accuracy using the predicted values and y_test.
        * Check __Module 6d: Model Performance__ and __Module 5c: Classification_

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [44]:
# K-NN

from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 8)
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=8)

In [45]:
pred_Y_knn = knn.predict(X_test) # predicts the Y given the fitted model knn

In [46]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test.values, knn.predict(X_test))
total = sum(sum(cm))

In [47]:
accuracy = (cm[0,0]+cm[1,1])/total

## Do not alter the below cell. It is a test case for Question 11

In [48]:
try:
    if (accuracy > 0.70):
        score['question 11'] = 'pass'
    else: 
        score['question 11'] = 'fail'
except:
    score['question 11'] = 'fail'
score

{'question 1': 'pass',
 'question 2': 'pass',
 'question 3': 'pass',
 'question 4': 'pass',
 'question 5': 'pass',
 'question 6': 'pass',
 'question 7': 'pass',
 'question 8': 'pass',
 'question 9': 'pass',
 'question 10': 'pass',
 'question 11': 'pass'}

###################################################################################################################

# Question 12

1. Train a Random Forests model where the number of estimators is 100  using the training dataset.


2. Make predictions using the test dataset


3. Compute accuracy and save as accuracy

    * __Hints:__
        * You need to use the RandomForestClassifier function. Instantiate a RandomForestClassifier object and pass the number of estimators to the function. Train the model using the X_train and y_train. Then make predictions using X_test. Then compute the accuracy using the predicted values and y_test.
        * Check __Module 6d: Model Performance__ and __Module 5c: Classification_

In [49]:
# Random Forests
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=0)
rf.fit(X_train, Y_train)

RandomForestClassifier(max_depth=5, random_state=0)

In [50]:
pred_Y_rf = rf.predict(X_test) # predicts the Y given the fitted model rf

In [51]:
cm = confusion_matrix(Y_test.values, rf.predict(X_test))
total = sum(sum(cm))

In [52]:
accuracy = (cm[0,0]+cm[1,1])/total

## Do not alter the below cell. It is a test case for Question 6

In [53]:
try:
    if (accuracy > 0.80):
        score['question 12'] = 'pass'
    else: 
        score['question 12'] = 'fail'
except:
    score['question 12'] = 'fail'
score

{'question 1': 'pass',
 'question 2': 'pass',
 'question 3': 'pass',
 'question 4': 'pass',
 'question 5': 'pass',
 'question 6': 'pass',
 'question 7': 'pass',
 'question 8': 'pass',
 'question 9': 'pass',
 'question 10': 'pass',
 'question 11': 'pass',
 'question 12': 'pass'}

###################################################################################################################

# Your Grade

In [54]:
print('Your overall score is: ', round(list(score.values()).count('pass')*8.3333))

Your overall score is:  100